.App-header {
  color: var(--black);
  padding: 2rem 0;
  text-align: center;
}

/* Spinner Styles */
.spinner-section {
  width: 100%;
}

.spinner-btn {
  padding: .75rem 2rem;
  margin: 1rem auto;
  background-color: #EA2027;
  border-radius: .25rem;
  border: .25rem solid #FFC312;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  width: 10rem;
  text-shadow: 2px 2px 2px var(--black);
}

.spinner-btn:hover {
  cursor: pointer;
}

ul.circle {
  list-style: none;
  margin: 2rem auto;
  border-radius: 50%;
  width: 31.25rem;
  height: 31.25rem;
  border: 2px solid var(--white);
  position: relative;
  padding: 0;
  overflow: hidden;
}

.circle li {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.spinner-slice .text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
  color: var(--black);
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
}

.spinner-wheel {
  position: relative;
}

.arrow-pointer {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 80px solid var(--black);
  left: 50%;
  position: absolute;
  z-index: 100;
}

/* Spin animation */
.start-rotate {
  animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate {
  100% {
    transform: rotate(360deg);
  }
  
}

.stop-rotate {
  animation-play-state: paused;
}

/* Responsive styles */
@media screen and (max-width:1280px) {
  ul.circle {
    width: 25rem;
    height: 25rem;
  }
  .spinner-slice .text {
    font-size: .8rem;
  }
}

/* Responsive styles */
@media screen and (max-width:400px) {
  ul.circle {
    width: 20rem;
    height: 20rem;
  }

  .spinner-slice .text {
    padding-top: 5px;
    font-size: .65rem;
  }
}



