.App-header {
  color: var(--black);
  padding: 2rem 0;
  text-align: center;
}

.App-header h1{
  padding-bottom: .75rem;
}

.App-header p {
  font-size: 1.25rem;
}

.App-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1.5rem auto;
}

.App-body section {
  margin: 0 1.5rem;
}

/* Responsive styles */
@media screen and (max-width:450px) {
  .App-header {
    padding-bottom: 1rem;
  }

  .App-body {
    flex-direction: column;
    align-items: center;
  }

  .App-body section {
    margin: 0;
  }
}