/* constants */
:root {

  /* Color constants */
  --white: #FFFFFF;
  --lightGrey: #c8d6e5;
  --darkGrey: #8395a7;
  --black: #222f3e;
  --red: #EA2027;
  --orange: #EE5A24;
  --yellow: #FFC312;
  --green: #009432;
  --teal: #006266;
  --navy: #1B1464;
  --blue: #0652DD;
  --lightBlue: #1289A7;
  --cyan: #12CBC4;
  --lavender: #D980FA;
  --lightPurple: #9980FA;
  --darkPurple: #5758BB;
  --magenta: #6F1E51;
  --fuschia: #B53471;
  --lightRed: #ED4C67;
  --pink: #FDA7DF;

}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkGrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



